* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background-color: #61677A;
}

.card {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #272829;
    width: 350px;
    height: 400px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.title {
    color: #FFF6E0;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 12px;
}

.inputs {
    /* border: 2px solid red; */
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.email, .user {
    outline: none;
    color: white;
    width: 80%;
    border: 2px solid white;
    background-color: transparent;
    padding-left: 10px;
    height: 32px;
    border-radius: 5px;
}

.passwordParent, .repeatPasswordParent{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.password, .repeatPassword {
    color:  white;
    background-color: transparent;
    width: 88%;
    border: none;
    outline: none;
    height: 32px;
    padding-left: 10px;
    padding-right: 80px;

}

span.material-symbols-outlined.eye1, span.material-symbols-outlined.eye2 {
    color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
}

span.material-symbols-outlined.eye1::selection, span.material-symbols-outlined.eye2::selection {
    background-color: transparent;
}

.alerts {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 12px;
}

p, a{
    color: #FFF6E0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}

a::selection{
    background-color: transparent;
}

input.register {
    padding-left: 0;
    border: none;
    border-radius: 12px;
    height: 30px;
    width: 80px;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

input.register:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

input.register:active {
    opacity: 0.2;
}